[build]
rustflags = []

[profile.dev]
debug = "line-tables-only"

[profile.release]
opt-level = "z"
lto = "thin"
codegen-units = 1

[target.x86_64-unknown-linux-gnu]
rustflags = []

[target.aarch64-unknown-linux-gnu]
rustflags = []
